*{padding: 0; margin: 0}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'consolas';
    background-image: linear-gradient(to right top, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F);
}

.clock{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 10px solid rgba(29, 29, 29, 0.8);}

.clock .number{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 20px;
    font-weight: 500;
    user-select: none;
    text-decoration: underline;
}

.clock .number1{--rotation: 30deg;}
.clock .number2{--rotation: 60deg;}
.clock .number3{--rotation: 90deg;}
.clock .number4{--rotation: 120deg;}
.clock .number5{--rotation: 150deg;}
.clock .number6{--rotation: 180deg;}
.clock .number7{--rotation: 210deg;}
.clock .number8{--rotation: 240deg;}
.clock .number9{--rotation: 270deg;}
.clock .number10{--rotation: 300deg;}
.clock .number11{--rotation: 330deg;}

.clock::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:rgba(29, 29, 29);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand{
    --rotation: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    background-color: rgba(29, 29, 29);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hour{
    height: 34%;
    width: 9px;
}
.clock .min{
    height: 42%;
    width: 5px;
}
.clock .sec{
    height: 46%;
    background-color: red;
    width: 2px;
}